extends ../includes/auth/layout-auth

block content
  form(action="/signup" method="post" onsubmit="return validateForm();")
    img.logo(src="/images/auth/it-logo.png", alt="", srcset="")
    div.title !{app.NAME}
    div.sub-title !{title}
    
    div.fields
      div.phone
        input#phone(type="tel" name="phone" pattern="[+,0][1-9]{1}[0-9]{1,2}[0-9]{4,12}" autocomplete="off" required autofocus)
      div.username
        input#username(type="text" name="username" placeholder="username" autocomplete="off" required)
      div.password
        input#password(type="password" name="password" placeholder="password" required)
    
    button.signin-button(type="submit")  
      i.bi.bi-box-arrow-in-right
      | &nbsp; !{buttonText}
    
    div.link
      a(href="/login") If you already have account? 
        span Sign In
  
  script.
    const phoneInput = document.querySelector("#phone");
    const phoneIntl = window.intlTelInput(phoneInput, {
      utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
    });

    function validateForm() {
      if (phoneIntl.isValidNumber()) {
        document.getElementById("phone").value = phoneIntl.getNumber();
      }
      else {
        errorMessage.innerText = `Invalid E.164 format: ${phoneIntl.getNumber()}`;;
        errorMessage.style.display = "block";
        return false;
      }
    }
