div.col-sm-3.mb-3
  -var initStatus = data.status == undefined ? true : false;
  label.control-label.d-block(for='status') !{content.common.status} 
  .btn-group.btn-group-sm.btn-group-toggle(data-toggle='buttons')
    label.btn.btn-outline-success.btn-toggle(class=`${initStatus || data.status == true ? "active" : ""}`)
      input(type='radio' name=`status` value="1" autocomplete='off' checked=(initStatus || data.status == true))
      |  Active
    label.btn.btn-outline-secondary.btn-toggle(class=`${data.status == false ? "active" : ""}`)
      input(type='radio' name=`status` value="0" autocomplete='off' checked=(data.status == false))
      |  Inactive