nav(class="navbar fixed-top")
  button.btn.material-button.material-secondary#menu-toggle
    i.bi.bi-menu-button-wide
    |  Menu

  .o-nav-items.d-flex.align-items-end
    .nav-item
      a.nav-link(href='#' role='button' data-toggle="tooltip" data-placement="bottom" title="View profile")
        i.bi.bi-person-circle
        |  !{user.username}
        span.sr-only

    .nav-item.dropdown
      a.nav-link#langDropdown(href='#' role='button' data-toggle='dropdown' aria-expanded='false')
        i.bi.bi-translate
      
      .dropdown-menu(aria-labelledby='langDropdown')
        button.btn.dropdown-item(role='button' title="English language" onclick="changeLang('en_US')")
          img(src="https://img.icons8.com/color/48/000000/usa-circular.png" width="22" height="22")
          | &nbsp; English
        button.btn.dropdown-item(role='button' title="Myanmar language" onclick="changeLang('my_MM')") 
          img(src="https://img.icons8.com/color/48/000000/myanmar-circular.png" width="22" height="22")
          | &nbsp; Myanmar
        
        // free icon sources from icons8.com
        // https://icons8.com/icons/set/flags

    .nav-item.dropdown
      a.nav-link#settingDropdown(href='#' role='button' data-toggle='dropdown' aria-expanded='false')
        i.bi.bi-sliders
      .dropdown-menu(aria-labelledby='settingDropdown')
        a.dropdown-item#settings(href='/settings') 
          span.bi.bi-gear-wide-connected(data-toggle="tooltip" data-placement="left" title="Settings")
            | &nbsp; Settings
        a.dropdown-item(href="#" role='button' data-toggle="modal", data-target="#dialogSetTheme") 
          span.bi.bi-palette(data-toggle="tooltip" data-placement="left" title="New Theme")
            | &nbsp; Edit theme
        a.dropdown-item(href="#" role='button' data-toggle="modal", data-target="#dialogNewTemplate")
          span.bi.bi-filetype-json(data-toggle="tooltip" data-placement="left" title="New template")
            | &nbsp; New template
        .dropdown-divider
        a.dropdown-item(href="#" role='button' data-toggle="modal", data-target="#dialogLogoutConfirm")
          span.bi.bi-box-arrow-right(data-toggle="tooltip" data-placement="left" title="Logout")
            | &nbsp; Logout

include ./modal/modal-logout
include ./modal/modal-theme
include ./modal/modal-generator

script.
  $(document).ready(function() {
    $("#dialogLogout").on('click', function() {
      setTimeout(()=> { 
        window.location.replace("/logout") 
      }, 1000);
    });
  });

  function changeLang(lang) {
    $.ajax({
      type: "PUT",
      url: `/api/v1/user-no-pass/${userId}`,
      headers: {
        "userrole": role,
        "x-csrf-token": csrf,
        "x-access-method": signJwtMethod,
        "authorization": "Bearer " + token,
      },
      data: { locale: lang } ,
      success: function (response) {
        if (response.code != 200) {
          swalWarning({
            title: "Warning",
            description: "Sorry, your language was not changed.",
          })
        }
        else {
          swalWarning({
            icon: "success",
            title: "Success",
            description: "Your language is successfully changed.",
          });
          
          setTimeout(()=> {
            window.location.reload();
          }, 3000);
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        swalWarning({
          title: "Warning",
          description: "Description: " + errorThrown,
        });
      },
    });
  }