nav(class="navbar fixed-top")
  button.btn.material-button.material-secondary#menu-toggle
    i.bi.bi-menu-button
  .user-nav-items.d-flex.align-items-end
    .nav-item
      a.nav-link(href='#' role='button' title="View Profile")
        i.bi.bi-person
        |  !{user.username}
        span.sr-only
    .nav-item.dropdown
      a.nav-link#navbarDropdown(href='#' role='button' data-toggle='dropdown' aria-expanded='false')
        i.bi.bi-chevron-compact-down
      .dropdown-menu(aria-labelledby='navbarDropdown')
        a.dropdown-item(href="#" role='button' title="Setting", data-toggle="modal", data-target="#dialogSetTheme") 
          i.bi.bi-palette
          | &nbsp; Change theme
        a.dropdown-item(href="#" role='button' title="New template", data-toggle="modal", data-target="#dialogNewTemplate" )
          i.bi.bi-filetype-json
          | &nbsp; New template
        .dropdown-divider
        a.dropdown-item#logout(href='/logout' title="Logout") 
          i.bi.bi-box-arrow-right
          | &nbsp; Logout

include ./modal/layout-generator
include ./modal/layout-theme