/* Root variable here */

:root {
    --primary: #f55b5b;
    --secondary: #c33939;
    --text-white: #fdfdfd;
    --text-gray: #bdbdbd;
    --text-black: #3d3d3d;
    --back-white: #f9f9f9;
    --back-gray: #bdbdbd;
    --back-black: #3d3d3d;
}
