/* Root variable here */

:root {
    --primary: #0bb0f5;
    --secondary: #0990d3;
    --text-white: #fdfdfd;
    --text-gray: #bdbdbd;
    --text-black: #3d3d3d;
    --back-white: #f9f9f9;
    --back-gray: #bdbdbd;
    --back-black: #3d3d3d;
}
