/* Root variable here */
:root {
  --primary: #0bb0f5;
  --secondary: #0990d3;
  --text-white: #fdfdfd;
  --text-gray: #bdbdbd;
  --text-black: #3d3d3d;
  --back-white: #fdfdfd;
  --back-gray: #bdbdbd;
  --back-black: #3d3d3d;
  
}
/* End - Root variable here */
