/* Root variable here */
:root {
  --primary: #f5b5df;
  --secondary: #d393bd;
  --text-gray: #bdbdbd;
  --text-white: #fdfdfd;
  --text-black: #3d3d3d;
  --back-gray: #bdbdbd;
  --back-white: #fdfdfd;
  --back-black: #3d3d3d;
}
/* End - Root variable here */
