/* Root variable here */

:root {
    --primary: #d5d55d;
    --secondary: #b3b33b;
    --text-gray: #bdbdbd;
    --text-white: #fdfdfd;
    --text-black: #3d3d3d;
    --back-gray: #bdbdbd;
    --back-white: #f9f9f9;
    --back-black: #3d3d3d;
}
