<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404 - Page Not Found</title>
    <!-- Google font -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="/images/auth/it-logo.png"
    />
    <link href="../assets/404/styles.css" rel="stylesheet" />
  </head>
  <body>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <div id="notfound">
      <div class="notfound">
        <div class="f0f">
          <lottie-player
            class="ltp"
            src="https://assets8.lottiefiles.com/packages/lf20_j3gumpgp.json"
            style="width: 250px; height: 250px"
            speed="1"
            autoplay
            loop
          ></lottie-player>
          <p>
            The page you are looking for might have been removed or is
            temporarily unavailable.
          </p>
        </div>
        <div class="link">
          <a href="/">Dashboard</a>
          <a href="mailto:waiphyo.dev@gmail.com">Contact Me</a>
        </div>
      </div>
    </div>
  </body>
</html>
