<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>404 - Page Not Found</title>

        <!-- Import Icon -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/images/favicon/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/images/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="/images/favicon/site.webmanifest" />

        <!-- 404 Styles -->
        <link href="/assets/404/styles.css" rel="stylesheet" />
    </head>

    <body>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <div id="notfound">
            <div class="notfound">
                <div class="f0f">
                    <lottie-player
                        class="ltp"
                        src="https://assets8.lottiefiles.com/packages/lf20_j3gumpgp.json"
                        style="width: 250px; height: 250px"
                        speed="1"
                        autoplay
                        loop
                    ></lottie-player>
                    <p>
                        Not found: indicates that the origin server did not find
                        a current representation for the target resource or is
                        not willing to disclose that one exists.
                    </p>
                </div>
                <div class="link">
                    <a href="/">Dashboard</a>
                    <a href="mailto:waiphyo.dev@gmail.com">Contact Me</a>
                </div>
            </div>
        </div>
    </body>
</html>
