button#btnExcel.btn.btn-light(type='button' role='button' style="width: 38px")
  i.text-success.bi.bi-file-earmark-excel
  //- |  Excel
button#btnPdf.btn.btn-light(type='button' role='button' style="width: 38px")
  i.text-danger.bi.bi-file-earmark-pdf
  //- |  PDF
button#btnPrint.btn.btn-light(type='button' role='button' style="width: 38px")
  i.text-primary.bi.bi-printer
  //- |  Print