button#btnFilter.btn.btn-light(type='button' role='button' style="width: 38px" data-toggle="modal", data-target="#dialogFilterTable")
  i.text-dark.bi.bi-funnel(data-toggle="tooltip" data-placement="top" title="Filter")
  //- |  Filter
button#btnSearch.btn.btn-light(type='button' role='button' style="width: 38px")
  i.text-dark.bi.bi-search(data-toggle="tooltip" data-placement="top" title="Search")
  //- |  Search