include ../other/breadcrumb
  block items
    if page.list.breadcrumb.length > 0
      each breadcrumbObj, index in page.list.breadcrumb
        li.breadcrumb-item
          a(href=breadcrumbObj.url) #{breadcrumbObj.text}

include ./list-alert
include ./list-button
include ./list-search