button#btnExcel.btn.btn-light(type='button' role='button' style="width: 38px")
  i.text-success.bi.bi-file-earmark-excel(data-toggle="tooltip" data-placement="top" title="Excel")
  //- |  Excel
button#btnPdf.btn.btn-light(type='button' role='button' style="width: 38px")
  i.text-danger.bi.bi-file-earmark-pdf(data-toggle="tooltip" data-placement="top" title="PDF")
  //- |  PDF
button#btnPrint.btn.btn-light(type='button' role='button' style="width: 38px")
  i.text-primary.bi.bi-printer(data-toggle="tooltip" data-placement="top" title="Print")
  //- |  Print