
div.d-flex.justify-content-center
  div#tb_search_wrap.input-group.d-none(style="width: 400px")
    div.input-group-prepend
      div.input-group-text
        i.bi.bi-search(aria-hidden='true')
    input.form-control.input-sm#tb_search(type='text', placeholder="Search..."  autofocus)