div.mb-2
  div#tableButton.d-flex
    block extend-btns
      include ./list-title
        
      .btn-group.btn-group-sm(role='group' aria-label='Basic example')
        include ./list-export
          block append
            include ./list-filter
          if ((page.read && page.edit) == true)
            block append
              include ./list-plus