div.modal-footer.justify-content-md-center
  button.btn.btn-sm.material-button.material-secondary#dialogCancel(type='button', data-dismiss='modal')
    |  !{content.close}
  button.btn.btn-sm.material-button.material-primary.mx-1#dialogFilterReset(type='button' role="button")
    i.bi.bi-arrow-clockwise
    |  !{content.reset}
  button.btn.btn-sm.material-button.material-primary#dialogFilter(type='submit', role="button")
    i.bi.bi-funnel
    |  !{content.filter}