div.mb-3
  label.control-label.d-block(for='status') !{content.common.status} 
  .btn-group.btn-group-sm.btn-group-toggle(data-toggle='buttons')
    label.btn.btn-outline-success.btn-toggle
      input(type='radio' name=`status` value="1" autocomplete='off')
      |  Active 
    label.btn.btn-outline-secondary.btn-toggle
      input(type='radio' name=`status` value="0" autocomplete='off')
      |  Inactive