div.modal.fade#dialogNewTemplate(tabindex='-1', role='dialog', aria-labelledby='dialogNewTemplate')
  div.modal-dialog.modal-dialog-centered.modal-lg(role='document')
    div.modal-content
      div.modal-header
        h4.modal-title Generate New Template
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      
      div.modal-body
        div.form-group
          div.col-sm-12
            label.control-label(for='modal_name') Modal Name
            input.form-control.input-sm#modal_name(name='modal_name' required)
            
        div.form-group
          div.col-sm-12
            label.control-label(for='modal_data') Modal Type
            textarea.form-control.input-sm#modal_data(name='modal_data', rows ='13' required)
            
      div.modal-footer.justify-content-md-center
        button.btn.material-button.material-secondary#dialogCancel(type='button', data-dismiss='modal')
          |  CANCEL
        button.btn.material-button.material-primary#dialogGenerate(type='button', data-dismiss='modal')
          i.bi.bi-save
          |  GENERATE

script.
  $(document).ready(function() {
    $("#dialogGenerate").on('click', function(){
      const modal_data = JSON.parse($('#modal_data').val());
      const modal_name = $('#modal_name').val();
      $.ajax({
        type: "POST",
        dataType: 'json',
        url:  '/d-mar/new-template/'+ modal_name +'?is_page=true',
        headers: {
          "userrole": role,
          "x-access-method": signJwtMethod,
          "authorization": "Bearer " + token,
        },
        data: modal_data,
        success: function (response) {
          response.status != 'SUCCESS' 
          ? swalWarning({
              title: "Warning Message",
              description: "Your template is not generated.",
            })
          : swalWarning({
              icon: "success",
              title: "Success Message",
              description: "Your template is successfully generated.",
            });
        }
      });
    })
  });
