-var recordId = data._id || data.id;
-var method = recordId ? "put" : "post";

form#entryForm.form-horizontal.border.p-3(method=method, action=page.entry.url)
  input.input-sm#record_id(type='hidden', name='id', value=recordId)
  block inputs