div.row.justify-content-center.border-top.pt-3
  button.btn.material-button.material-secondary.m-1(type='button' onclick=`window.location.href='${page.list.url}'`)
    | CANCEL
  button.btn.material-button.material-primary.m-1(type='submit', role='button')
    i.bi.bi-save 
    |  SAVE