@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

body {
  font-family: "Questrial", sans-serif, "Ubuntu Mono", monospace;
  /* background: linear-gradient(-45deg, var(--primary), var(--secondary)); */
  /* animation: gradient 15s ease infinite; */
  /* background-size: 400% 400%; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login-wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 340px;
  height: 400px;
  margin: auto;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  overflow: scroll;
  display: table;
}

.login-div {
  display: table-cell;
  vertical-align: middle;
  width: 300px;
  padding: 24px;
  border-radius: 5px;
  background: var(--back-white);
  box-shadow: 0 0 5px var(--back-gray);
  -webkit-box-shadow: 0 0 5px var(--back-gray);
  /* -3px -3px 3px #bbb; */
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 50%;
  /* background: #555; */
  box-shadow:
    /* logo shadow */ 0px 0px 3px var(--back-gray),
    /* offset shadow */ 0px 0px 0px 3px var(--back-gray),
    /* bottom right shadhow */ 0px 0px 0px var(--back-gray),
    /* top left shadhow */ 0px 0px 0px var(--back-gray);
}

.title {
  font-size: 28px;
  margin-top: 18px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

.sub-title {
  font-size: 18px;
  margin-bottom: 18px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: lowercase;
}

.fields input {
  width: 92%;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 15px !important;
  border: 1.8px solid var(--back-gray);
  /* box-shadow: inset 3px 3px 0px #bbb,
    inset -3px -3px 0px #bbb; */
}

.fields input[type="tel"] {
  width: 100%;
}

.iti {
  width: 100%;
}
.fields svg {
  height: 22px;
  margin: 0 10px -3px 25px;
  margin-top: 15px !important;
}

.signin-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 44px;
  margin: 3px 0;
  margin-top: 15px;
  font-size: 16px;
  transition: 0.3s;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  color: var(--text-white);
  background: #3f3f3f;
}

.signin-button:hover {
  color: var(--text-white);
  background: #0f0f0f;
}

.signin-button:active {
  color: var(--text-white);
  background: #0f0f0f;
}

.link {
  padding-top: 18px;
  text-align: center;
}

.link a {
  font-size: 13px;
  text-decoration: none;
  color: var(--text-dark);
}

.link a span {
  font-weight: bold;
  text-decoration: underline;
  color: var(--text-dark);
}

#error-message {
  text-align: center;
  margin-top: 0.8rem;
  color: goldenrod;
}
