extends ../includes/layout-main
block content
  -var isAccess = false;

  each p in program 
    if p.menuid == "dashboard"
      -isAccess = p.access
  
  if isAccess
    main.mx-3(role='main')
      .d-flex.mt-1
        h5.animate-typing.mr-auto Welcome back ðŸ‘‹ðŸ»
        span.show-date-time Jan 01 00:00 AM

      .row
        .card-counter.col-md-4(onclick="location.href='/users';")
          .wrap
            h4.card-counter-title 
              span.bi.bi-person-check  Administrators
            span.card-counter-number !{data[0]}

        .card-counter.col-md-4(onclick="location.href='/user_roles';")
          .wrap
            h4.card-counter-title
              span.bi.bi-file-ruled  Access role/level
            span.card-counter-number !{data[1]}

        .card-counter.col-md-4(onclick="location.href='/students';")
          .wrap
            h4.card-counter-title
              span.bi.bi-mortarboard  Students
            span.card-counter-number !{data[2]}

      hr

      .col-md-12
        .row
          .col-md-4.my-2
            .panel.panel-default
              .panel-heading
                h4.panel-title
              .panel-content.text-center
                canvas#teamChart.chart(height='380')
              .panel-footer.text-center
                p.pt-3 A simple Team Chart with basic settings

          .col-md-4.my-2
            .panel.panel-default
              .panel-heading
                h4.panel-title
              .panel-content.text-center
                canvas#saleChart.chart(height='380')
              .panel-footer.text-center 
                p.pt-3 A sample Sale Chart with basic settings

          .col-md-4.my-2
            .panel.panel-default
              .panel-heading
                h4.panel-title 
              .panel-content.text-center
                canvas#lineChart.chart(height='380')
              .panel-footer.text-center 
                p.pt-3 A sample Line Chart with basic settings

          .col-md-4.my-2
            .panel.panel-default
              .panel-heading
                h4.panel-title 
              .panel-content.text-center
                canvas#singelBarChart.chart(height='380')
              .panel-footer.text-center 
                p.pt-3 A sample Single Bar Chart with basic settings

          .col-md-4.my-2
            .panel.panel-default
              .panel-heading
                h4.panel-title
              .panel-content.text-center
                canvas#barChart.chart(height='380')
              .panel-footer.text-center 
                p.pt-3 A sample Bar Chart with basic settings

          .col-md-4.my-2
            .panel.panel-default
              .panel-heading
                h4.panel-title
              .panel-content.text-center
                canvas#radarChart.chart(height='380')
              .panel-footer.text-center 
                p.pt-3 A sample Radar Chart with basic settings

          .col-md-4.my-2
            .panel.panel-default
              .panel-heading
                h4.panel-title 
              .panel-content.text-center
                canvas#pieChart.chart(height='380')
              .panel-footer.text-center 
                p.pt-3 A sample Pie Chart with basic settings

          .col-md-4.my-2
            .panel.panel-default
              .panel-heading
                h4.panel-title 
              .panel-content.text-center
                canvas#doughutChart.chart(height='380')
              .panel-footer.text-center 
                p.pt-3 A sample Doughut Chart with basic settings

          .col-md-4.my-2
            .panel.panel-default
              .panel-heading
                h4.panel-title 
              .panel-content.text-center
                canvas#polarChart.chart(height='380')
              .panel-footer.text-center 
                p.pt-3 A sample Polar Chart with basic settings
  else
    link(href='/assets/404/styles.css' rel='stylesheet')
    #notfound
      .notfound
        .f0f
          lottie-player.ltp(src='https://assets1.lottiefiles.com/packages/lf20_slGFhN.json' style='width: 250px; height: 250px' speed='1' autoplay='' loop='')
          p
            | Unauthorized: indicates that the request has not been applied because 
            | it lacks valid authentication credentials for the target resource.
            
  script(src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js')
  script(src='../layout-js/lib/chart-js/chart.bundle.min.js')
  script(src='../layout-js/lib/chart-js/chart-init.js')
  script.
    $(document).ready(function() {
      $('.count-numbers').each(function () {
        const $this = $(this);
        jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
          duration: 1200,
          easing: 'swing',
          step: function () {
            $this.text(Math.ceil(this.Counter));
          }
        });
      });

      // initial set value
      $(".show-date-time").text(
        moment(new Date()).format('MMM DD hh:mm A') 
      );

      // set interval 1min
      setInterval(() => {
        const now = new Date();
        $(".show-date-time").text(
          moment(now).format('MMM DD hh:mm A') 
        )
      }, 1000 * 60);
    });
    
